:root{
    --a: #e7eaf6; 
    --b: #a2a8d3;
    --c: #38598b;
    --d: #113f67;
    --e: #dcdcdc;
    --f: #d3d3d3;
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--e);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

body p{
    text-indent: 1%;
    margin-left: 2%;
    width: 75%;
}

body ul{
    text-indent: 1%;
    margin-left: 2%;
}

h3{
    margin-left: 15px;
}

h4{
    margin-left: 20px;
}

body section{
    border-bottom: 5px solid var(--c);
}

#header{
    background-color: var(--d);
    color: var(--a);
    text-align: center;
}
