:root{
    --a: #e7eaf6;
    --b: #a2a8d3;
    --c: #38598b;
    --d: #113f67;
    --e: #dcdcdc;
    --f: #d3d3d3;
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--a);
    color: var(--c);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header{
    background-color: var(--d);
    color: var(--a);
    padding: 1%;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.header nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header ul{
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header ul li{
    display: flex;
    padding: 0 10px;
}

.header ul li:hover{
    background-color: var(--a);
}

.header a{
    color: var(--a);
}

.header a:hover{
    color: var(--c);
}

h1{
    position: relative;
    margin-left: 1%;
    justify-content: flex-start;
    width: 20%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
}

.pfp{
    height: 200px;
    margin: 0;
    background-image: url(../images/IMG_6868.JPG);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
}

h2{
    border-bottom: 5px solid var(--c);
    margin-left: 20px;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: var(--e);
}

main p{
    text-indent: 1%;
    margin-left: 2%;
}

#AboutMe h2{
    line-height: 200%;
}

#projects{
    margin-top: 100px;
    margin-bottom: 25px;
}

#projects h2{
    line-height: 200%;
}

#work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

#work a{
    color: var(--d);
    background-color: var(--b);
}

#work a:hover{
    background-color: var(--a);
}

#work img{
    border-bottom: 5px solid var(--b);
}

#work .card{
    border: 5px solid var(--b);
    background-color: var(--f);
}

#work h5{
    color: var(--c);
}

#contactme{
    background-color: var(--e);
    text-align: center;
    display: flex;
    align-items: center;
}

#contactme ul{
    font-size: 20px;
}

#contactme ul li{
    padding: 0 5px;
}

#contactme a{
    color: var(--c);
}